{% extends 'base.html.twig' %} 

{% block title %}Nouvelle entreprise{% endblock %}

{% block body %}
    {% if edit == true %}
        <h1>Editer une entreprise</h1>
    {% else %}
        <h1>Ajouter une entreprise</h1>
    {% endif %}
    

     {# {{ form(formNewEntreprise) }} #}

     {{ form_start(formNewEntreprise) }}
        {{ form_row(formNewEntreprise.raisonSociale) }}
        {{ form_row(formNewEntreprise.dateCreation) }}
     <div class="row">
         <div class="col-sm">
            {{ form_row(formNewEntreprise.adresse) }}
         </div>
         <div class="col-sm">
            {{ form_row(formNewEntreprise.cp) }}
         </div>
         <div class="col-sm">{{ form_row(formNewEntreprise.ville) }}
        </div>
     </div>
     {{ form_row(formNewEntreprise.valider) }}
  {{ form_end(formNewEntreprise) }}

{% endblock %}
